# Node.js
node_modules/

# Mac OS
.DS_Store

# log files
*.log

# Vim session and temporary files
*.vim
*.sw?

# 11ty
_site/

# generated resources
content/_data/generated/

# Local Netlify folder
.netlify