---
layout: article.html
---
{{ content }}

<!-- Shopify -->
<style>
.shopify-product {
    margin: auto;
    padding-top: 25px;
    font-family: candara;
}
</style>
<script>
var I18N = {
    NL: {
        product: {
            button: '{% i18n "shopify.product.button" "NL" %}{% endi18n %}',
            outOfStock: '{% i18n "shopify.product.outOfStock" "NL" %}{% endi18n %}',
            unavailable: '{% i18n "shopify.product.unavailable" "NL" %}{% endi18n %}'
        },
        cart: {
            title: '{% i18n "shopify.cart.title" "NL" %}{% endi18n %}',
            empty: '{% i18n "shopify.cart.empty" "NL" %}{% endi18n %}',
            button: '{% i18n "shopify.cart.button" "NL" %}{% endi18n %}',
            total: '{% i18n "shopify.cart.total" "NL" %}{% endi18n %}',
            currency: '{% i18n "shopify.cart.currency" "NL" %}{% endi18n %}',
            notice: '{% i18n "shopify.cart.notice" "NL" %}{% endi18n %}',
            noteDescription: '{% i18n "shopify.cart.noteDescription" "NL" %}{% endi18n %}'
        },
        modalProduct: {
            button: '{% i18n "shopify.modalProduct.button" "NL" %}{% endi18n %}'
        }
    }
};

function addTranslations(language, options) {
    if (!options) {
        return {};
    }

    if (!language || language === 'EN' || !I18N[language]) {
        return options;
    }

    for (const component in I18N[language]) {
        options[component] = options[component] || {};
        options[component].text = options[component].text || {};

        for (const label in I18N[language][component]) {
            options[component].text[label] = I18N[language][component][label];
        }
    }

    return options;
}

var client = ShopifyBuy.buildClient({
    domain: 'ivansherbs.myshopify.com',
    storefrontAccessToken: '1cb388a2e9f947c0c6d44c4a6d641feb'
});
var ui = ShopifyBuy.UI.init(client);

// collections
var collectionContainers = document.getElementsByClassName('shopify-collection');
for (var container of collectionContainers) {
    var collectionId = container.dataset.collection;
    if (!collectionId) {
        continue;
    }

    var language = container.dataset.language || 'EN';
    var buttonDestination = container.dataset.buttondestination || 'cart';
    var buttonText = container.dataset.buttontext;

    var options = {
        product: {
            buttonDestination: buttonDestination
        }
    };

    options = addTranslations(language, options);

    if (buttonText) {
        options.product.text = options.product.text || {};
        options.product.text.button = buttonText;
    }

    ui.createComponent('collection', {
        id: collectionId,
        node: container,
        options: options
    });
}

// products
var productContainers = document.getElementsByClassName('shopify-product');
for (var container of productContainers) {
    var productId = container.dataset.product;
    if (!productId) {
        continue;
    }

    var language = container.dataset.language || 'NL';
    var buttonDestination = container.dataset.buttondestination || 'cart';
    var buttonText = container.dataset.buttontext;

    var options = {
        product: {
            buttonDestination: buttonDestination
        }
    };

    options = addTranslations(language, options);

    if (buttonText) {
        options.product.text = options.product.text || {};
        options.product.text.button = buttonText;
    }

    ui.createComponent('product', {
        id: productId,
        node: container,
        options: options
    });
}
</script>
