<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name=”description” content="{{ meta.description }}">
    <meta name=”keywords” content="{{ meta.keywords }}">
    <meta name=”author” content="{{ publish.author | default: 'Ivan\'s Insights' }}">

    <title>{{ title }} | Ivan's Herbs</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ env.RESOURCE_BASE_URL }}/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link href="{{ env.RESOURCE_BASE_URL }}/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Slick Slider -->
    <link href="{{ env.RESOURCE_BASE_URL }}/assets/css/slick.css" rel="stylesheet">
    <link href="{{ env.RESOURCE_BASE_URL }}/assets/css/slick-theme.css" rel="stylesheet">

    <!-- AOS CSS -->
    <link href="{{ env.RESOURCE_BASE_URL }}/assets/css/aos.css" rel="stylesheet">

    <!-- Lity CSS -->
    <link href="{{ env.RESOURCE_BASE_URL }}/assets/css/lity.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{{ env.RESOURCE_BASE_URL }}/assets/css/fontawesome-all.min.css">

    <!-- linearicons CSS -->
    <link rel="stylesheet" href="{{ env.RESOURCE_BASE_URL }}/assets/css/linearicons.css">

    <!-- Our Min CSS -->
    <link href="{{ env.RESOURCE_BASE_URL }}/assets/css/main.css" rel="stylesheet">

    <!-- Themes * You can select your color from color-1 , color-2 , color-3 , color-4 , ..etc * -->
    <link href="{{ env.RESOURCE_BASE_URL }}/assets/css/color.css" rel="stylesheet">

    <!-- Styling effects -->
    <link href="{{ env.RESOURCE_BASE_URL }}/assets/css/effects.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K8K4QBL');</script>
    <!-- End Google Tag Manager -->

    <!-- Facebook domain verification insights-->
    <meta name="facebook-domain-verification" content="miu686mvn24dlpxqc1zvq1ijprg7mv" />
    <!-- End Facebook domain verification insights-->

    <!-- Styling effects -->
    <!-- TODO load async and move to particular layout -->
    <script src="https://sdks.assortimentifycdn.com/buy-button/1.0.0/buybutton.js"></script>

    <!-- Overrides -->
    <style>
        @media (min-width: 992px) {
            .container {
                max-width: 800px
            }
        }
        @media (min-width: 1200px) {
            .container {
                max-width: 880px
            }
        }
        .single-blog-page .blog-box .blog-details {
            font-size: 20px;
            font-family: candara;
        }
        .single-blog-page .blog-box .blog-details p {
            font-size: 1em;
            line-height: 1.6em;
            margin: 1.5em 0;
            font-family: candara
        }
        .single-blog-page .blog-box .blog-details h2 {
            font-size: 1.5em; style=font-family:monad;
        }
        .single-blog-page .blog-box .blog-details h3 {
            font-size: 1.2em;
            padding: 10px;
        }
    </style>

    <!-- Custom styles from front matter data -->
    <style>{{ style }}</style>
</head>

<body data-spy="scroll" data-target="#main_menu" data-offset="70">
    <!-- Start Preloader -->
    <div class="preloader">
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8K4QBL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Start Header -->
    <header class="foxapp-header">
        <nav class="navbar navbar-expand-lg navbar-light" id="foxapp_menu">
            <div class="container">
                <a class="navbar-brand" href="{{ env.RESOURCE_BASE_URL }}">
                    <img src="{{ env.RESOURCE_BASE_URL }}/assets/img/logo.png" class="img-fluid" alt="Ivan's Herbs logo" style="height: 50px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu"
                    aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_menu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:monad">
                                {% i18n 'discover' language %}DISCOVER{% endi18n %} IVAN CHAI
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/artikel/ivanchai/ontdek-7-voordelen/" target="_blank" style="font-family:papyrus">{% i18n 'benefits' language %}Benefits{% endi18n %}</a>
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/artikel/ivanchai/de-oorsprong-van-ivan-chai/" target="_blank" style="font-family:papyrus">{% i18n 'the_origin_of' language %}The origin of...{% endi18n %}</a>
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/artikel/het-parabel-van-de-siberische-kruidenthee-ivan-chai" target="_blank" style="font-family:papyrus">{% i18n 'history' language %}History{% endi18n %}</a>
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/assortiment/5-heerlijke-smaken" target="_blank" style="font-family:papyrus">{% i18n 'more_information_question' language %}More information?{% endi18n %}</a>         </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:monad">
                                IVAN'S INSIGHTS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/collectie-artikelen/kruidengeneeskunde/" target="_blank" style="font-family:papyrus">{% i18n 'herbal_remedies' language %}Herbal remedies{% endi18n %}</a>
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/collectie-artikelen/voordelen-ema/" target="_blank" style="font-family:papyrus">{% i18n 'benefits_ema' language %}Benefits EMA{% endi18n %}</a>
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/collectie-artikelen/eyeopener/" target="_blank" style="font-family:papyrus">Eyeopener</a>                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:monad">
                                {% i18n 'collection' language %}COLLECTION{% endi18n %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/assortiment/ivans-assortiment-siberische-kruidenthee" target="_blank" style="font-family:papyrus">{% i18n 'whole_herbs' language %}Whole herbs{% endi18n %}</a>
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/assortiment/ivans-assortiment-etherische-olien" target="_blank" style="font-family:papyrus">{% i18n 'essential_oils' language %}Essential oils{% endi18n %}</a>
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/assortiment/ivans-assortiment-supplementen" target="_blank" style="font-family:papyrus">{% i18n 'supplements' language %}Supplements{% endi18n %}</a>
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/assortiment/ivans-assortiment-matcha" target="_blank" style="font-family:papyrus">{% i18n 'matcha' language %}Matcha{% endi18n %}</a>
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/assortiment/pre-order" target="_blank" style="font-family:papyrus">Pre order</a>
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/assortiment/ivans-giftsets" target="_blank" style="font-family:papyrus">Giftsets</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:monad">
                                {% i18n 'about' language %}ABOUT{% endi18n %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/over/over-ivans-herbs" target="_blank" style="font-family:papyrus">Onze missie</a>
                                <a class="dropdown-item anchor" href="https://insights.ivansherbs.com/nl/identity/over-de-eco7-standaard/" target="_blank" style="font-family:papyrus">Eco7</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Header -->

    <!-- Start Page Head -->
    <section id="top" class="page-head background-withcolor">
        <div class="parent">
            {% if banner.image %}
            <div class="image-container">
                <img src="{{ generated.contentful.banner_images[banner.image] }}?w=1900&h=700&fit=fill" title="{{ banner.title }}">
            </div>
            <div class="overlay-container {{ banner.effect | '' }}"></div>
            {% endif %}
            <div class="text-container">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h1 style="font-family:monad; color: #75adcf">{{ title }}</h1>
                            <div style="font-family:monad; background-color: ; color: white; text-align: center; padding: 5px; font-size:30px">DE OORSPRONG VAN IVAN CHAI<div class="space-20"><p style="margin:20px"></p>
                                <a style="font-family:monad" href="/nl/artikel/de-oorsprong-van-ivan-chai" class="btn btn-primary shadow btn-theme"><span>Lees meer...</span></a>
                            </div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Page Head -->

    <!-- Start Blog Page Section -->
    <section class="blog-without-sidebar blog-page padding-200" style="text-align:center">
        <div class="container">
        <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-12" data-aos="fade-zoom-in">
        <!-- Start Article below Page Head -->
        <img style="float: left; padding:6px; border: 0px solid #fff;-moz-box-shadow: 0px 6px 5px #ccc;-webkit-box-shadow: 0px 6px 5px #ccc;box-shadow: 0px 6px 5px #ccc;-moz-border-radius:190px;-webkit-border-radius:190px;Border-radius:190px; margin-left:60px;margin-right:60px;margin-bottom:30px;margin-top:30px;" src="https://images.ctfassets.net/lyvtxhzy9zgr/3JweT13EX2EwuunkJL6l4y/a4e5bbbf77f15b0f159cea9c374fba98/women-holding-tea.png?h=220">
            <div class="blog-details" style="padding-top: 25px; padding-bottom:75px">
                <div class="space-15"></div>
                    <h3 style="font-family:monad;margin-top:25px"><a href="/nl/assortiment/ivans-assortiment-kruidenthee/">5 HEERLIJKE SMAKEN</a></h3>
                        <div class="space-15"></div>
                        <p style=”margin-bottom:50px”>Ontdek welke kruiden wij gebruiken voor onze verschillende Siberische kruidentheeën. Iedere smaak biedt meerdere voordelen goed voor lichaam en geest.</p>
                        <div class="space-15"><a href="/nl/artikel/ivanchai/ontdek-7-voordelen/" target="_blank" class="btn btn-primary shadow btn-colord btn-theme" style="font-family:monad; color:white">
                            <span>LEES MEER...</span></a><hr>
                        <div class="space-15">
                    </div>
                </div>
            </div>
    <!-- End Article below Page Head -->
       <!-- Start TOP 3-->
    <h2 style="font-family:monad; background-color:  #566845; color: #fff; text-align: center; padding: 25px; box-shadow: 7px 11px 21px #8f8a72">Top 3: Meest gelezen...</h2>
            <div class="space-15"></div>
                </div><div class="col-md-4" data-aos="fade-up">
                    <div class="blog-box" style="box-shadow: 7px 11px 21px #8f8a72">
                        <div class="blog-img">
                            <a href="/nl/artikel/ivanchai/ontdek-7-voordelen/"><img src="https://images.ctfassets.net/lyvtxhzy9zgr/3GzPJVVGUYwWwdLOarDn5r/795728291cd84ae6e163382e6140b3e7/artikel_ontdek_7_voordelen.jpg?w=255&amp;h=170&amp;q=100&amp;fit=fill" class="img-fluid" alt=""></a>
                        </div>
                        <div class="top-left" style="font-family: monad"><br><big><big><b><big><big>1.</b></big></big></big></big></div>
                        <div class="blog-details">
                            <div class="space-15"></div>
                            <h3 style="font-family:monad"><a href="/nl/artikel/ivanchai/ontdek-7-voordelen/">Ivan Chai: Ontdek 7 voordelen</a>
                            <div class="space-15"></div>
                            <p style="font-family:candara">Drink Ivan Chai als alternatief of aanvulling op medicijnen uit de farmaceutische industrie, als levenselixer maar óók gewoon lekker ter ontspanning. Benieuwd naar onze inzichten?</p>
                            <div class="space-15"></div>
                            <a href="/nl/artikel/ivanchai/ontdek-7-voordelen/" target="_blank" class="btn btn-primary shadow btn-colord btn-theme" style="font-family:monad; color:white"><span>LEES MEER...</span></a>
                            <ul class="news-meta">
                                <div class="space-15"></div>
                                <div><li><span class="lnr lnr-user" style="color:#3f4450; width: auto; font-family: papyrus;"><big>door <span style="color: #134d7e;">Ivan de Vries</span></big><br>in <span style="color: #134d7e; font-family: monad;">Ivan's Insights</span><p></p></span></li><p style="margin-bottom:10px"></p>
                                <li><span class="lnr lnr-clock"> </span></li></div>
                            </ul>
                        </div>
                    </div>
                </div><div class="col-md-4" data-aos="fade-up">
                    <div class="blog-box" style="box-shadow: 7px 11px 21px #8f8a72";>
                        <div class="blog-img">
                            <a href="/nl/artikel/slaapproblemen/insomnia-als-gevolg-van-stress-en-je-telefoon/"><img src="https://images.ctfassets.net/lyvtxhzy9zgr/48u2gVeJExSmuZRlo25XRI/7aa749e8cfd4eeaf1ae1edbfd8c93201/artikel_insomnia_als_gevolg_van_stress_en_je_telefoon.jpg?w=255&amp;h=170&amp;q=50&amp;fit=fill" class="img-fluid" alt=""></a>
                        </div>
                        <div class="top-left" style="font-family: monad"><br><big><big><b><big><big>2.</b></big></big></big></big></div>
                        <div class="blog-details">
                            <div class="space-15"></div>
                            <h3 style="font-family:monad"><a href="/nl/artikel/slaapproblemen/insomnia-als-gevolg-van-stress-en-je-telefoon/">Insomnia als gevolg van stress en je telefoon
                            </a></h3>
                            <div class="space-15"></div>
                            <p>Wist je dat 20-30 procent van de Nederlanders problemen heeft met slapen? Ook kinderen hebben te maken met dit probleem. Benieuwd naar onze inzichten?</p>
                            <div class="space-15"></div>
                            <a href="/nl/artikel/slaapproblemen/insomnia-als-gevolg-van-stress-en-je-telefoon/" target="_blank" class="btn btn-primary shadow btn-colord btn-theme" style="font-family:monad; color:white"><span>LEES MEER...</span></a>
                            <ul class="news-meta">
                                <div class="space-15"></div>
                                <div><li><span class="lnr lnr-user" style="color:#3f4450; width: auto; font-family: papyrus;"><big>door <span style="color: #134d7e;">Anna Jansen</span></big><br>in <span style="color: #134d7e; font-family: monad;">Ivan's Insights</span><p></p></span></li><p style="margin-bottom:10px"></p>
                                <li><span class="lnr lnr-clock"> </span></li></div>
                            </ul>
                        </div>
                    </div>
                </div><div class="col-md-4" data-aos="fade-up">
                    <div class="blog-box" style="box-shadow: 7px 11px 21px #8f8a72">
                        <div class="blog-img">
                            <a href="/nl/identity/het-parabel-van-de-siberische-kruidenthee/"><img src="https://images.ctfassets.net/lyvtxhzy9zgr/1azw20zjK4vskIM0iFv1OF/ea93975525c6237507a117e9b075ec9b/dry_ivan_chai_with_flowers_1.jpg?w=255&amp;h=170&amp;q=100&amp;fit=fill" class="img-fluid" alt=""></a>
                        </div>
                        <div class="blog-details">
                            <div class="top-left" style="font-family: monad"><br><big><big><b><big><big>3.</b></big></big></big></big></div>
                            <div class="space-15"></div>
                            <h3 style="font-family:monad"><a href="/nl/identity/het-parabel-van-de-siberische-kruidenthee/">Het parabel van de Siberische kruidenthee: Ivan Chai</a></h3>
                            <div class="space-15"></div>
                            <p>Ontdek de geschiedenis van Ivan Chai. Het waren de monniken ter hoogte van de Altaj... [lees het volledige verhaal]</p>
                            <div class="space-15"></div>
                            <a href="/nl/identity/het-parabel-van-de-siberische-kruidenthee/" target="_blank" class="btn btn-primary shadow btn-colord btn-theme" style="font-family:monad; color:white"><span>LEES MEER...</span></a>
                            <ul class="news-meta">
                                <div class="space-15"></div>
                                <div><li><span class="lnr lnr-user" style="color:#3f4450; width: auto; font-family: papyrus;"><big>{% i18n 'by' language %}by{% endi18n %} <span style="color: #134d7e;">Sasha de Jong</span></big><br>in <span style="color: #134d7e; font-family: monad;">Ivan's Insights</span></p></li><p style="margin-bottom:10px"></p>
                                <li><span class="lnr lnr-clock"> </span></li></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <!-- End Top 3 -->
            {{ content }}
        </div>
    </section>
    <!-- End Blog Page Section -->

    <!-- StartOverview Tag Section -->
   <section class="row" style="text-align:center; padding: 15px;">
        <div class="col">
            <h1 style="font-family:monad; background-color: #003154; color: #fff; text-align: center">OVERZICHT TREFWOORDEN</h1>
    <section class="row" style="text-align:center; padding: 15px;">
        <div class="col">
            <h4 style="font-family: monad; position:relative; padding:15px;">
                <a href="insights.ivansherbs.com/nl/collectie-artikelen/effectiviteit"><p><img src="https://images.ctfassets.net/lyvtxhzy9zgr/6eoKQHvDNsD8h0gBat506V/725790204e1997413068bf3a7d3de1cf/flaticon-ema.png?fm=png&amp;q=100&amp;w=60&amp;h=60" style="border:2px; padding: 10px;></a>
                <p>
                <a href="/nl/collectie-artikelen/effectiviteit/">EFFECTIVITEIT</a>
                <p>
            </h4>
        </div>
        <div class="col">
            <h4 style="font-family: monad; position:relative; padding:15px;">
                <a href="insights.ivansherbs.com/nl/collectie-artikelen/eyeopener"><p><img src="https://images.ctfassets.net/lyvtxhzy9zgr/2z3Wv9RruaRUsxycEvZyRY/d1dfe0755a7ba2653b2f923a453c519c/flaticon-cup-of-tea.png?fm=png&amp;q=100&amp;w=60&amp;h=60" style="border:2px; padding: 10px;></a>
                <p>
                <a href="/nl/collectie-artikelen/eyeopener/">EYEOPENER</a>
                </p>
            </h4>
        </div>    <div class="col">
            <h4 style="font-family: monad; position:relative; padding:15px;">
                <a href="insights.ivansherbs.com/nl/collectie-artikelen/kruidengeneeskunde"><p><img src="https://images.ctfassets.net/lyvtxhzy9zgr/6s8sE0FZqUqvnuYdPkkJBe/000d45e2f2270ac3036500cf1f7bb7e1/flaticon-herbs-medicines.png?fm=png&q=100&w=60&h=60" style="border:2px; padding: 10px;></a>
                <p>
                <a href="/nl/collectie-artikelen/kruidengeneeskunde/">KRUIDENGENEESKUNDE</a>
                </p>
            </h4>
        </div>
    </section>

    <section id="overzicht">
        <div class="col">
            <h4 style="font-family: monad; position:relative; padding:15px; box-shadow: 3px 7px 16px #8f8a72; text-align: center;">
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#ASSORTIMENTKRUIDENTHEE">assortiment kruidenthee</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#COLLECTIE">collectie</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#COMMUNITY BUILDING">community building</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#EYEOPENER">eyeopener</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#GESCHIEDENIS">geschiedenis</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#GEVOEL">gevoel</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#GEZIN">gezin</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#INFECTIE">infectie</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#IVAN CHAI">ivan chai</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#KINDEREN">kinderen</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#LEVENSSTIJL">levensstijl</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#MAAG-DARMKLACHTEN">maag- & darmklachten</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#MAN">man</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#MEDICIJN">medicijn</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#MENTALEKLACHTEN">mentale klachten</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#MILIEU">milieu</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#MOEDER">moeder</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#ONTSTEKING">ontsteking</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#PROSTAAT">prostaat</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#RELATIE">relatie</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#SLAPEN">slapen</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#SPORT">sport</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#STRESS">stress</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#URINEWEGEN">urinewegen</a>
                    <span style="font-weight:bold; color: #003154 "> | </span>
                <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#VROUW">vrouw</a>
                <span style="font-weight:bold; color: #003154 "> | </span>
                    <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#WEERSTAND">weerstand</a>
                <span style="font-weight:bold; color: #003154 "> | </span>
                    <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#WERK">werk</a>
                <span style="font-weight:bold; color: #003154 "> | </span>
                    <a style="font-family:papyrus" href="https://insights.ivansherbs.com/#ZIEKTEN">ziekten</a>
                </h4>
            </div>
        </div>
    </section>
<!-- End Overview Tag Section -->


    <!-- Start Footer -->
    <footer class="padding-200 pb-0">
        <div class="subscribe">
           <div class="container">
               <div class="container">
                   <div class="row">
                       <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
                           <section id="email" class="main-features padding-50">
                           <p><font color="white" style="font-family:monad"><big><u>NIEWSBRIEF & EXCLUSIEVE AANBIEDINGEN?</u></big></font></p>
                       </div>
                   </div>
               </div>
               <form class="subscribe-form row m-0 align-items-center">
                   <div class="col-lg-9 col-md-8">
                       <div class="form-group mb-0">
                           <input type="text" class="form-control" style="font-family:candara" placeholder="Voer e-mail adres in">
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4">
                       <a href="#"
                        class="btn btn-primary shadow d-block btn-colord btn-theme"><span style="font-family:candara" >aanmelden</span></a>
                   </div>
               </form>
           </div>
       </div>
       <div class="space-50"></div>
       <div class="footer-widgets">
           <div class="container">
               <div class="row">
                   <div class="col-lg-4 col-md-6 col-12">
                       <div class="widget">
                           <h6 style="font-family:monad">Ivan's</h6>
                           <ul>
                               <li>
                                   <a target="_blank" href="https://insights.ivansherbs.com/nl/faq" style="font-family:papyrus">FAQ</a>
                               </li>
                               <li>
                                   <a target="_blank" href="https://insights.ivansherbs.com/nl/over/manifest" style="font-family:papyrus">Manifest</a>
                               </li>
                               <li>
                                   <a target="_blank" href="https://insights.ivansherbs.com/nl/assortiment/ivans-assortiment-siberische-kruidenthee" style="font-family:papyrus">Kruidenthee</a>
                               </li>
                               <li>
                                   <a target="_blank" href="https://insights.ivansherbs.com/nl/assortiment/ivans-assortiment-etherische-olien/" style="font-family:papyrus">Etherische oliën</a>
                               </li>
                               <li>
                                   <a target="_blank" href="https://insights.ivansherbs.com/nl/assortiment/ivans-assortiment-supplementen/" style="font-family:papyrus">Supplementen</a>
                               </li>
                               <li>
                                <a target="_blank" href="https://insights.ivansherbs.com/nl/assortiment/ivans-assortiment-matcha/" style="font-family:papyrus">Matcha</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://insights.ivansherbs.com/nl/assortiment/exclusieve-aanbiedingen/" style="font-family:papyrus">Exclusieve aanbiedingen</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://insights.ivansherbs.com/nl/assortiment/ivans-giftsets" style="font-family:papyrus">Giftsets</a>
                            </li>
                            </div>
                        </div>
                   <div class="space-25"></div>
                   <!-- Start GTranslate-->
                   <script type="text/javascript">
                   /* <![CDATA[ */
                   function doGTranslate(lang_pair) {if(lang_pair.value)lang_pair=lang_pair.value;if(lang_pair=='')return;var lang=lang_pair.split('|')[1];var plang=location.hostname.split('.')[0];if(plang.length !=2 && plang.toLowerCase() != 'zh-cn' && plang.toLowerCase() != 'zh-tw')plang='nl';location.href=location.protocol+'//'+(lang == 'nl' ? '' : lang+'.')+location.hostname.replace('www.', '').replace(RegExp('^' + plang + '\\.'), '')+location.pathname+location.search;}
                   /* ]]> */
                   </script>
                   <!-- End GTranslate-->
                   </div>
               </div>
           </div>
       </div>
       <div class="space-50"></div>
       <div class="copyright">
           <div class="container">
               <div class="row align-items-center">
                   <div class="col-md-4">
                       <p style="font-family:monad">All rights reserved © <a href="#">Ivan's Herbs, VOF 2021</a></p>
                       <p style="font-family:papyrus">Korte Noorderweg 27G <br> 1221 NA Hilversum <br> hello@ivansherbs.com</p>
                       <p> KvK: 75553155 </p>
                   </div>
                   <div class="offset-md-4 col-md-4">
                       <ul class="nav justify-content-end">
                           <li class="nav-item">
                               <a class="nav-link" href="http://insights.ivansherbs.com/nl/over/legal/gebruiksvoorwaarden" style="font-family:monad">Terms and Conditions</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="http://insights.ivansherbs.com/nl/over/legal/privacykennisgeving" style="font-family:monad">Privacy Policy</a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
   </footer>
   <!-- End Footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ env.RESOURCE_BASE_URL }}/assets/js/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Bootstrap JS -->
    <script src="{{ env.RESOURCE_BASE_URL }}/assets/js/popper.min.js"></script>
    <script src="{{ env.RESOURCE_BASE_URL }}/assets/js/bootstrap.min.js"></script>

    <!-- svg -->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="{{ env.RESOURCE_BASE_URL }}/assets/js/slick.min.js"></script>

    <!-- Counterup JS -->
    <script src="{{ env.RESOURCE_BASE_URL }}/assets/js/waypoints.min.js"></script>
    <script src="{{ env.RESOURCE_BASE_URL }}/assets/js/jquery.counterup.js"></script>

    <!-- AOS JS -->
    <script src="{{ env.RESOURCE_BASE_URL }}/assets/js/aos.js"></script>

    <!-- lity JS -->
    <script src="{{ env.RESOURCE_BASE_URL }}/assets/js/lity.min.js"></script>

    <!-- Our Main JS -->
    <script src="{{ env.RESOURCE_BASE_URL }}/assets/js/main.js"></script>
</body>

</html>
