---
layout: collection.html
---
{%- assign sortedTags = collections | sorted_lowercase_keys -%}
{%- for tag in sortedTags -%}
  {% if tag != 'all' %}
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="font-family:papyrus">{{ tag | title_case: 'NL' }}</h2 style="font-family:lato">
                </div>
                {%- for article in collections[tag] -%}
                <div class="col-md-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <a href="{{ article.url }}"><img src="{{ generated.contentful.banner_images[article.data.banner.image] }}?w=255&h=170&q=50&fit=fill" class="img-fluid" alt=""></a>
                        </div>
                        <div class="blog-details">
                            <div class="space-15"></div>
                            <h3 style="font-family:monad"><a href="{{ article.url }}">{{ article.data.title }}</a></h3 style="font-family:lato">
                            <div class="space-15"></div>
                            <p>{{ article.data.meta.description }}</p>
                            <div class="space-15"></div>
                            <ul class="news-meta">
                                <div class="space-15"></div>
                                <div><li><span class="lnr lnr-user"></span>{% i18n 'by' language %}by{% endi18n %} {{ article.data.publish.author }}</li>
                                <li><span class="lnr lnr-clock"></span> {{ article.data.publish.date }}</li></div>
                            </ul>
                        </div>
                    </div>
                </div>
    {%- endfor -%}
            </div>
        </div>
    </div>
    <div class="space-50"></div>
  {% endif %}
{%- endfor -%}
