---
layout: collection.html
---
{%- assign sortedTags = collections | sorted_lowercase_keys -%}
{%- for tag in sortedTags -%}
  {% if tag != 'all' %}
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="font-family:monad; background-color: #003154; color: #fff; text-align: center">&nbsp;{{ tag | title_case: 'NL' }}&nbsp;</h2></h2>
                </div>
                {%- for article in collections[tag] -%}
                <div class="col-md-4">
                    <div class="blog-box">
                        <div class="blog-img" style="box-shadow: 7px 11px 21px #8f8a72">
                            <a href="{{ article.url }}"><img src="{{ generated.contentful.banner_images[article.data.banner.image] }}?w=255&h=170&q=50&fit=fill" class="img-fluid" alt=""></a>
                        </div>
                        <div class="blog-details" style="box-shadow: 7px 11px 21px #8f8a72">
                            <div class="space-15"></div>
                            <h3 style="font-family:monad"><a href="{{ article.url }}">{{ article.data.title }}</a></h3 >
                            <div class="space-15"></div>
                            <p>{{ article.data.meta.description }}</p>
                            <div class="space-15"></div>
                            <ul class="news-meta">
                                <div class="space-15"></div>
                                <div><li><span class="lnr lnr-user" style="color:#3f4450; width: auto; font-family: papyrus;"><big>{% i18n 'by' language %}by{% endi18n %} <span style="color: #134d7e;">{{ article.data.publish.author }}</span></big><br> in Ivan's Insights</span></p></li><p style="margin-bottom:10px"></p>
                                <li><span class="lnr lnr-clock" > {{ article.data.publish.date }}</span></li></div>
                            </ul>
                        </div>
                    </div>
                </div>
    {%- endfor -%}
            </div>
        </div>
    </div>
    <div class="space-50"></div>
  {% endif %}
{%- endfor -%}
